*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: #FAFAFA;
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 24px;
    background-color: 
    #131417;
    
}
a{
    text-decoration: none;
    color: #FAFAFA;
    display: block;
}
li::marker{content: '';}
li{
    position: relative;
}

@media (min-width : 769px) {
    .burger{
    display: none;
    }
   .header{
    padding: 0 22px;
    margin: 0px auto;
    max-width: 1196px;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
   }
   /* список превого уровня */
   .anckors-list{
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 40px;
   }
   .anckors-list__anckor{
    padding: 8px 18px;
    }
   .anckors-list__triangle--up{
    position: absolute;
    top: 17px;
    left: 0;
   }
   
    /* список второго уровня */

   .down-extended-list{
    display: none;
    position: absolute;
    top: 60px;
    /* display: flex; */
    flex-direction: column;
    background-color: #252830;
    border: 1px solid rgba(255, 255, 255, 0.10);
    border-top: none;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    }
    /* элементы списка второго уровня */
    li:first-child > .down-extended-list__anckor{
        border: none;
    }
    .down-extended-list>li:first-child:before{
    content: ''; 
    position: absolute;
    left: 47px; top: -28px;
    border: 14px solid transparent;
    border-bottom: 14px solid   #252830;
        }
    .down-extended-list__anckor{
    width: 320px;
    padding: 8px 22px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-top:1px solid rgba(255, 255, 255, 0.10);
   }
   
   /* список третьего уровня */
   .rigth-extended-list{
    display: none;
    flex-direction: column;
    position: absolute;
    left: calc(100% + 22px);
    bottom: 0;
    width: fit-content;
    max-width: 200px;
    border-radius: 8px;
    background-color: #252830;
    white-space: nowrap;
    text-overflow: ellipsis;
   }
   .rigth-extended-list__anckor{
    padding: 8px 18px;
   }
   li:first-child>.rigth-extended-list__anckor{
    border-bottom:1px solid rgba(255, 255, 255, 0.10);
    }
    .rigth-extended-list>li:first-child::before{
        content: ''; 
        position: absolute;
        left: -24px; bottom: -32px;
        border: 12px solid transparent;
        border-right: 12px solid   #252830;
    }
    .down-extended-list__triangle--rigth{
        position: absolute;
        top: 16px;
        right: 14px;
    }
   .main{
    width: 100%;
    height: calc(100vh - 80px);
    background: top/cover url('../../shared/assets/aplaca-bg.png');
   }
   /* animation */
   .anckors-list__anckor:hover{
    ~.down-extended-list{
        display: flex;
    }
   }
   .down-extended-list__anckor:hover{
    ~.rigth-extended-list{
        display: flex;
    }
   }
}