@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.woff);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    color: #fafafa;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    background-color: #131417;
  }
  a {
    text-decoration: none;
    color: #fafafa;
    display: block;
  }
  li::marker {
    content: '';
  }
